$header-color: #B22222  ; /*c71212; 9E1D1D*/
$white: #fff;
$green: #27ae60;
$grey:#333;
$light-grey:#ddd;
$dark-blue-color:#0f384d;


$smaller-font-size: 12px;
$small-font-size: 15px;
$normal-font-size: 18px;
$bigger-font-size: 21px;
$header-font-size: 25px;
$big-header-font-size: 30px;
$huge-font-size: 40px;









$Header-Top:105px;



.displayFlex{
    display: flex;
}
a {
    text-decoration: none !important;
}
._df{
    display: flex;
}
._w100{
    width: 100%;
}
._w50{
    width: 50%;
}