.footer {
  width: 100%;
  margin-top: 100px !important;
  position: sticky;
  background-color: #FFFFFF;
  border-top: 1px solid #ddd;
}
.footer .col {
  width: 20%;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h6 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  padding: 20px 0px 5px 0px;
  color: black;  
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: black;
  font-size: 12px;
  font-family: inherit;
  font-weight: normal;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}
.footer .col ul li:hover {
  color: #9E1D1D;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  text-decoration: underline;
}
.clearfix {
  clear: both;
}
.hr {
  border-top: none;
  border-bottom: 1px solid #666;
  // margin: 20px;
  
}
.FooterDescMain{
  width: 100%;  
  background: #F4F4F4;
}
.FooterDesc{
  margin: 0;  
  color: #333;
  padding: 0 0 18px 50px;
}
.FooterDesc a {
  text-decoration: none;
  color: #333;
}
.FooterDesc a:hover{
  color: #9E1D1D;
  text-decoration: underline;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h6 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h6 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h6 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}